.table {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.tableRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
    width: 900px;
}
th {
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #6678b1;
    padding: 10px 8px;
}
td {
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
}
tr:hover td {
    color: #6699ff;
}
.btn {
    background-color: transparent;
    border: none;
    color: inherit;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #4f414d;
}
textarea {
    font-size: 100%;
    resize: none;
    text-align: center;
    background-color: rgba(255,99,132,0.1);
}
textarea:disabled {
    text-align: center;
    background-color: rgba(255,99,132,0.2);
}